/.bundle
/bin/build
/bin/guard
/bin/setup
/bin/spec-coverage
/bin/spring
/bin/update
/coverage
/devbox
/docs
/log
/spec
/tmp
/.byebug_history
/.env.development
/.env.test
/.dockerignore
/.git*
/.rspec
/Dockerfile
/Guardfile

.DS_Store
.idea