/.bundle
/bin/build
/bin/guard
/bin/setup
/bin/spring
/bin/update
/coverage
/devbox
/docs
/log
/spec
/tmp
/.byebug_history
/.dockerignore
/.env*
/.git*
/.rspec
/Dockerfile
/Guardfile
/Procfile
/README.md

.DS_Store
.idea
rvm.env