---
http_interactions:
- request:
    method: get
    uri: https://test-insight.bitpay.com/api/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10778'
      Etag:
      - W/"127-YYqUhBfi0Q1QnVzncPxxhQ"
    body:
      encoding: ASCII-8BIT
      string: '{"info":{"version":120100,"protocolversion":70012,"blocks":1284565,"timeoffset":0,"connections":122,"proxy":"","difficulty":1549169.053332807,"testnet":true,"relayfee":0.00001,"errors":"Warning:
        Unknown block versions being mined! It''s possible unknown rules are in effect","network":"testnet"}}'
  recorded_at: Fri, 23 Feb 2018 10:34:03 GMT
- request:
    method: get
    uri: https://www.okcoin.com/api/ticker.do?ok=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"date":"1519382044","ticker":{"high":"10974.02","vol":"174.773","last":"10802.04","low":"10310.0","buy":"10802.22","sell":"10865.53","change":"+77.00","changeRate":"+0.72%"}}'
  recorded_at: Fri, 23 Feb 2018 10:34:04 GMT
- request:
    method: get
    uri: http://api.fixer.io/latest?base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 22 Feb 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"USD","date":"2018-02-22","rates":{"AUD":1.2788,"BGN":1.5932,"BRL":3.2705,"CAD":1.2699,"CHF":0.93744,"CNY":6.3608,"CZK":20.622,"DKK":6.0657,"EUR":0.8146,"GBP":0.71964,"HKD":7.8249,"HRK":6.0643,"HUF":254.72,"IDR":13711.0,"ILS":3.4975,"INR":65.078,"ISK":100.93,"JPY":107.1,"KRW":1084.5,"MXN":18.795,"MYR":3.9192,"NOK":7.8929,"NZD":1.3653,"PHP":52.062,"PLN":3.4066,"RON":3.7924,"RUB":56.755,"SEK":8.143,"SGD":1.3223,"THB":31.575,"TRY":3.7999,"ZAR":11.717}}'
  recorded_at: Fri, 23 Feb 2018 10:34:05 GMT
- request:
    method: get
    uri: https://www.okcoin.com/api/ticker.do?ok=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"date":"1519382047","ticker":{"high":"10974.02","vol":"174.773","last":"10802.04","low":"10310.0","buy":"10802.29","sell":"10865.53","change":"+77.00","changeRate":"+0.72%"}}'
  recorded_at: Fri, 23 Feb 2018 10:34:07 GMT
recorded_with: VCR 4.0.0
