---
http_interactions:
- request:
    method: get
    uri: https://test-insight.bitpay.com/api/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10780'
      Etag:
      - W/"127-Jr6Vaj36s+YWbUwOMfZIkA"
    body:
      encoding: ASCII-8BIT
      string: '{"info":{"version":120100,"protocolversion":70012,"blocks":1284564,"timeoffset":0,"connections":122,"proxy":"","difficulty":1549169.053332807,"testnet":true,"relayfee":0.00001,"errors":"Warning:
        Unknown block versions being mined! It''s possible unknown rules are in effect","network":"testnet"}}'
  recorded_at: Fri, 23 Feb 2018 10:34:00 GMT
- request:
    method: get
    uri: https://coinbase.com/api/v1/currencies/exchange_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"eca85d65033337df48bc890c6d36728f"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        report-uri="https://coinbase.report-uri.io/r/default/hpkp/enforce"
    body:
      encoding: ASCII-8BIT
      string: '{"usd_to_aed":"3.673158","aed_to_usd":"0.272245","usd_to_afn":"69.05565","afn_to_usd":"0.014481","usd_to_all":"107.15","all_to_usd":"0.009333","usd_to_amd":"479.125","amd_to_usd":"0.002087","usd_to_ang":"1.779002","ang_to_usd":"0.562113","usd_to_aoa":"212.5325","aoa_to_usd":"0.004705","usd_to_ars":"19.949","ars_to_usd":"0.050128","usd_to_aud":"1.278652","aud_to_usd":"0.782074","usd_to_awg":"1.784998","awg_to_usd":"0.560225","usd_to_azn":"1.68825","azn_to_usd":"0.592329","usd_to_bam":"1.5891","bam_to_usd":"0.629287","usd_to_bbd":"2.0","bbd_to_usd":"0.5","usd_to_bdt":"83.163679","bdt_to_usd":"0.012024","usd_to_bgn":"1.588668","bgn_to_usd":"0.629458","usd_to_bhd":"0.376972","bhd_to_usd":"2.652717","usd_to_bif":"1754.926108","bif_to_usd":"0.00057","usd_to_bmd":"1.0","bmd_to_usd":"1.0","usd_to_bnd":"1.322708","bnd_to_usd":"0.756025","usd_to_bob":"6.910011","bob_to_usd":"0.144718","usd_to_brl":"3.2504","brl_to_usd":"0.307654","usd_to_bsd":"1.0","bsd_to_usd":"1.0","usd_to_btn":"64.798162","btn_to_usd":"0.015433","usd_to_bwp":"9.522348","bwp_to_usd":"0.105016","usd_to_byn":"1.957603","byn_to_usd":"0.510829","usd_to_byr":"19576.03","byr_to_usd":"0.000051","usd_to_bzd":"2.003437","bzd_to_usd":"0.499142","usd_to_cad":"1.270971","cad_to_usd":"0.7868","usd_to_cdf":"1613.322925","cdf_to_usd":"0.00062","usd_to_chf":"0.934056","chf_to_usd":"1.0706","usd_to_clf":"0.02255","clf_to_usd":"44.345898","usd_to_clp":"592.23","clp_to_usd":"0.001689","usd_to_cny":"6.336188","cny_to_usd":"0.157824","usd_to_cop":"2859.25","cop_to_usd":"0.00035","usd_to_crc":"569.288642","crc_to_usd":"0.001757","usd_to_cuc":"1.0","cuc_to_usd":"1.0","usd_to_cup":"25.5","cup_to_usd":"0.039216","usd_to_cve":"89.66","cve_to_usd":"0.011153","usd_to_czk":"20.5622","czk_to_usd":"0.048633","usd_to_djf":"177.1","djf_to_usd":"0.005647","usd_to_dkk":"6.04793","dkk_to_usd":"0.165346","usd_to_dop":"49.16","dop_to_usd":"0.020342","usd_to_dzd":"114.25325","dzd_to_usd":"0.008752","usd_to_eek":"14.613691","eek_to_usd":"0.068429","usd_to_egp":"17.6915","egp_to_usd":"0.056524","usd_to_ern":"14.996667","ern_to_usd":"0.066681","usd_to_etb":"27.320607","etb_to_usd":"0.036602","usd_to_eur":"0.81214","eur_to_usd":"1.231315","usd_to_fjd":"2.024752","fjd_to_usd":"0.493888","usd_to_fkp":"0.715573","fkp_to_usd":"1.397481","usd_to_gbp":"0.715573","gbp_to_usd":"1.397481","usd_to_gel":"2.465173","gel_to_usd":"0.405651","usd_to_ggp":"0.715573","ggp_to_usd":"1.397481","usd_to_ghs":"4.4503","ghs_to_usd":"0.224704","usd_to_gip":"0.715573","gip_to_usd":"1.397481","usd_to_gmd":"47.5","gmd_to_usd":"0.021053","usd_to_gnf":"8994.9","gnf_to_usd":"0.000111","usd_to_gtq":"7.340838","gtq_to_usd":"0.136224","usd_to_gyd":"206.721615","gyd_to_usd":"0.004837","usd_to_hkd":"7.82295","hkd_to_usd":"0.127829","usd_to_hnl":"23.608801","hnl_to_usd":"0.042357","usd_to_hrk":"6.0397","hrk_to_usd":"0.165571","usd_to_htg":"64.113051","htg_to_usd":"0.015597","usd_to_huf":"254.191","huf_to_usd":"0.003934","usd_to_idr":"13647.880504","idr_to_usd":"0.000073","usd_to_ils":"3.485385","ils_to_usd":"0.286912","usd_to_imp":"0.715573","imp_to_usd":"1.397481","usd_to_inr":"64.805","inr_to_usd":"0.015431","usd_to_iqd":"1189.650723","iqd_to_usd":"0.000841","usd_to_irr":"37194.927157","irr_to_usd":"0.000027","usd_to_isk":"100.62","isk_to_usd":"0.009938","usd_to_jep":"0.715573","jep_to_usd":"1.397481","usd_to_jmd":"126.32165","jmd_to_usd":"0.007916","usd_to_jod":"0.709302","jod_to_usd":"1.409837","usd_to_jpy":"106.833485","jpy_to_usd":"0.00936","usd_to_kes":"101.845","kes_to_usd":"0.009819","usd_to_kgs":"68.011027","kgs_to_usd":"0.014703","usd_to_khr":"4083.333333","khr_to_usd":"0.000245","usd_to_kmf":"399.875","kmf_to_usd":"0.002501","usd_to_kpw":"900.0","kpw_to_usd":"0.001111","usd_to_krw":"1077.55","krw_to_usd":"0.000928","usd_to_kwd":"0.2998","kwd_to_usd":"3.335557","usd_to_kyd":"0.830574","kyd_to_usd":"1.203987","usd_to_kzt":"320.26","kzt_to_usd":"0.003122","usd_to_lak":"8259.85","lak_to_usd":"0.000121","usd_to_lbp":"1513.5","lbp_to_usd":"0.000661","usd_to_lkr":"155.19","lkr_to_usd":"0.006444","usd_to_lrd":"129.6","lrd_to_usd":"0.007716","usd_to_lsl":"11.662064","lsl_to_usd":"0.085748","usd_to_ltl":"3.224845","ltl_to_usd":"0.310092","usd_to_lvl":"0.656261","lvl_to_usd":"1.523784","usd_to_lyd":"1.327957","lyd_to_usd":"0.753036","usd_to_mad":"9.2086","mad_to_usd":"0.108594","usd_to_mdl":"16.687624","mdl_to_usd":"0.059925","usd_to_mga":"3183.601613","mga_to_usd":"0.000314","usd_to_mkd":"50.012817","mkd_to_usd":"0.019995","usd_to_mmk":"1335.060206","mmk_to_usd":"0.000749","usd_to_mnt":"2395.282939","mnt_to_usd":"0.000417","usd_to_mop":"8.033249","mop_to_usd":"0.124483","usd_to_mro":"356.0","mro_to_usd":"0.002809","usd_to_mtl":"0.683738","mtl_to_usd":"1.462549","usd_to_mur":"32.695436","mur_to_usd":"0.030585","usd_to_mvr":"15.460011","mvr_to_usd":"0.064683","usd_to_mwk":"725.665","mwk_to_usd":"0.001378","usd_to_mxn":"18.592528","mxn_to_usd":"0.053785","usd_to_myr":"3.914968","myr_to_usd":"0.25543","usd_to_mzn":"60.994761","mzn_to_usd":"0.016395","usd_to_nad":"11.5925","nad_to_usd":"0.086263","usd_to_ngn":"359.593899","ngn_to_usd":"0.002781","usd_to_nio":"31.28","nio_to_usd":"0.031969","usd_to_nok":"7.869783","nok_to_usd":"0.127068","usd_to_npr":"103.691541","npr_to_usd":"0.009644","usd_to_nzd":"1.369488","nzd_to_usd":"0.7302","usd_to_omr":"0.38502","omr_to_usd":"2.597268","usd_to_pab":"1.0","pab_to_usd":"1.0","usd_to_pen":"3.247062","pen_to_usd":"0.307971","usd_to_pgk":"3.2264","pgk_to_usd":"0.309943","usd_to_php":"51.721","php_to_usd":"0.019335","usd_to_pkr":"110.6225","pkr_to_usd":"0.00904","usd_to_pln":"3.386457","pln_to_usd":"0.295294","usd_to_pyg":"5565.2","pyg_to_usd":"0.00018","usd_to_qar":"3.641259","qar_to_usd":"0.27463","usd_to_ron":"3.780834","ron_to_usd":"0.264492","usd_to_rsd":"95.835714","rsd_to_usd":"0.010435","usd_to_rub":"56.3939","rub_to_usd":"0.017732","usd_to_rwf":"859.578211","rwf_to_usd":"0.001163","usd_to_sar":"3.750848","sar_to_usd":"0.266606","usd_to_sbd":"7.747423","sbd_to_usd":"0.129075","usd_to_scr":"13.469065","scr_to_usd":"0.074244","usd_to_sdg":"18.036242","sdg_to_usd":"0.055444","usd_to_sek":"8.158295","sek_to_usd":"0.122575","usd_to_sgd":"1.322532","sgd_to_usd":"0.756125","usd_to_shp":"0.715573","shp_to_usd":"1.397481","usd_to_sll":"7685.264103","sll_to_usd":"0.00013","usd_to_sos":"576.588119","sos_to_usd":"0.001734","usd_to_srd":"7.468","srd_to_usd":"0.133905","usd_to_std":"19906.980959","std_to_usd":"0.00005","usd_to_svc":"8.721184","svc_to_usd":"0.114663","usd_to_syp":"514.98999","syp_to_usd":"0.001942","usd_to_szl":"11.655367","szl_to_usd":"0.085797","usd_to_thb":"31.472333","thb_to_usd":"0.031774","usd_to_tjs":"8.795584","tjs_to_usd":"0.113693","usd_to_tmt":"3.50998","tmt_to_usd":"0.284902","usd_to_tnd":"2.389455","tnd_to_usd":"0.418505","usd_to_top":"2.207435","top_to_usd":"0.453014","usd_to_try":"3.785429","try_to_usd":"0.264171","usd_to_ttd":"6.75275","ttd_to_usd":"0.148088","usd_to_twd":"29.27725","twd_to_usd":"0.034156","usd_to_tzs":"2251.9","tzs_to_usd":"0.000444","usd_to_uah":"27.17","uah_to_usd":"0.036805","usd_to_ugx":"3640.283069","ugx_to_usd":"0.000275","usd_to_uyu":"28.51","uyu_to_usd":"0.035075","usd_to_uzs":"8195.0","uzs_to_usd":"0.000122","usd_to_vef":"24985.0","vef_to_usd":"0.00004","usd_to_vnd":"22729.928226","vnd_to_usd":"0.000044","usd_to_vuv":"105.763108","vuv_to_usd":"0.009455","usd_to_wst":"2.502018","wst_to_usd":"0.399677","usd_to_xaf":"532.728831","xaf_to_usd":"0.001877","usd_to_xag":"0.060346","xag_to_usd":"16.570975","usd_to_xau":"0.000753","xau_to_usd":"1328.797704","usd_to_xcd":"2.70255","xcd_to_usd":"0.370021","usd_to_xdr":"0.687744","xdr_to_usd":"1.454029","usd_to_xof":"532.728831","xof_to_usd":"0.001877","usd_to_xpf":"96.914065","xpf_to_usd":"0.010318","usd_to_yer":"250.35","yer_to_usd":"0.003994","usd_to_zar":"11.609661","zar_to_usd":"0.086135","usd_to_zmk":"5253.075255","zmk_to_usd":"0.00019","usd_to_zmw":"9.816","zmw_to_usd":"0.101874","usd_to_zwl":"322.355011","zwl_to_usd":"0.003102","usd_to_etc":"0.027008","etc_to_usd":"37.0256","btc_to_usd":"10090.945","usd_to_btc":"0.000099","btc_to_eur":"8260.965","eur_to_btc":"0.000121","btc_to_gbp":"7308.36","gbp_to_btc":"0.000137","eth_to_usd":"855.035","usd_to_eth":"0.00117","eth_to_btc":"0.084595","btc_to_eth":"11.82103","ltc_to_usd":"206.745","usd_to_ltc":"0.004837","ltc_to_btc":"0.020455","btc_to_ltc":"48.887802","usd_to_ssp":"130.2634","ssp_to_usd":"0.007677","usd_to_xpd":"0.000961","xpd_to_usd":"1040.463631","usd_to_xpt":"0.001005","xpt_to_usd":"995.104088","eth_to_eur":"700.005","eur_to_eth":"0.001429","usd_to_b2x":"0.000741","b2x_to_usd":"1349.4","ltc_to_eur":"168.985","eur_to_ltc":"0.005918","usd_to_bch":"0.000783","bch_to_usd":"1277.11","bch_to_eur":"1040.84","eur_to_bch":"0.000961","bch_to_btc":"0.126455","btc_to_bch":"7.907951","usd_to_cnh":"6.332344","cnh_to_usd":"0.157919","btc_to_aed":"37065.62","btc_to_afn":"696836.42","btc_to_all":"1081244.22","btc_to_amd":"4834821.63","btc_to_ang":"17951.8","btc_to_aoa":"2144652.71","btc_to_ars":"201304.16","btc_to_aud":"12902.8","btc_to_awg":"18012.31","btc_to_azn":"17036.03","btc_to_bam":"16035.51","btc_to_bbd":"20181.88","btc_to_bdt":"839199.69","btc_to_bgn":"16031.15","btc_to_bhd":"3804.002","btc_to_bif":"17708854.0","btc_to_bmd":"10090.94","btc_to_bnd":"13347.37","btc_to_bob":"69728.51","btc_to_brl":"32799.59","btc_to_bsd":"10090.94","btc_to_btn":"653874.36","btc_to_bwp":"96089.44","btc_to_byn":"19754.05","btc_to_byr":"197540544.0","btc_to_bzd":"20216.56","btc_to_cad":"12825.29","btc_to_cdf":"16279944.84","btc_to_chf":"9425.5","btc_to_clf":"227.5507","btc_to_clp":"5976157.0","btc_to_cny":"63938.09","btc_to_cop":"28852520.2","btc_to_crc":"5744657.53","btc_to_cuc":"10090.94","btc_to_cve":"904753.68","btc_to_czk":"207491.93","btc_to_djf":"1787105.0","btc_to_dkk":"61029.3","btc_to_dop":"496070.61","btc_to_dzd":"1152922.69","btc_to_egp":"178523.87","btc_to_ern":"151330.47","btc_to_etb":"275690.61","btc_to_fjd":"20431.65","btc_to_fkp":"7220.8","btc_to_gel":"24875.91","btc_to_ghs":"44907.71","btc_to_gip":"7220.8","btc_to_gmd":"479319.65","btc_to_gnf":"90766996.0","btc_to_gtq":"74075.96","btc_to_gyd":"2086015.41","btc_to_hkd":"78940.92","btc_to_hnl":"238234.99","btc_to_hrk":"60946.25","btc_to_htg":"646960.95","btc_to_huf":"2565026.0","btc_to_idr":"137719943.29","btc_to_ils":"35170.81","btc_to_inr":"653943.37","btc_to_iqd":"12004694.067","btc_to_isk":"1015350.0","btc_to_jmd":"1274704.19","btc_to_jod":"7157.524","btc_to_jpy":"1078050.0","btc_to_kes":"1027711.78","btc_to_kgs":"686295.19","btc_to_khr":"41204671.66","btc_to_kmf":"4035115.0","btc_to_krw":"10873492.0","btc_to_kwd":"3025.264","btc_to_kyd":"8381.27","btc_to_kzt":"3231724.44","btc_to_lak":"83349650.76","btc_to_lbp":"15272637.69","btc_to_lkr":"1566012.98","btc_to_lrd":"1307785.82","btc_to_lsl":"117681.19","btc_to_ltl":"32541.72","btc_to_lvl":"6622.29","btc_to_lyd":"13400.334","btc_to_mad":"92923.43","btc_to_mdl":"168393.81","btc_to_mga":"32125532.8","btc_to_mkd":"504676.34","btc_to_mmk":"13472012.44","btc_to_mnt":"24170656.42","btc_to_mop":"81063.03","btc_to_mro":"3592374.6","btc_to_mur":"329927.68","btc_to_mvr":"156006.04","btc_to_mwk":"7322641.98","btc_to_mxn":"187616.08","btc_to_myr":"39505.71","btc_to_mzn":"615494.47","btc_to_nad":"116979.22","btc_to_ngn":"3628640.46","btc_to_nio":"315644.6","btc_to_nok":"79413.51","btc_to_npr":"1046345.12","btc_to_nzd":"13819.42","btc_to_omr":"3885.214","btc_to_pab":"10090.94","btc_to_pen":"32765.91","btc_to_pgk":"32557.41","btc_to_php":"521913.51","btc_to_pkr":"1116285.01","btc_to_pln":"34172.53","btc_to_pyg":"56158099.0","btc_to_qar":"36743.73","btc_to_ron":"38152.17","btc_to_rsd":"967072.44","btc_to_rub":"569067.46","btc_to_rwf":"8673952.0","btc_to_sar":"37849.58","btc_to_sbd":"78178.78","btc_to_scr":"135915.53","btc_to_sek":"82324.87","btc_to_shp":"7220.8","btc_to_sll":"77551538.95","btc_to_sos":"5818316.11","btc_to_srd":"75359.14","btc_to_ssp":"1314480.15","btc_to_std":"200880150.44","btc_to_svc":"88004.94","btc_to_szl":"117613.61","btc_to_thb":"317585.42","btc_to_tjs":"88755.71","btc_to_tmt":"35419.0","btc_to_tnd":"24111.847","btc_to_top":"22275.09","btc_to_try":"38198.54","btc_to_ttd":"68141.6","btc_to_twd":"295434.97","btc_to_tzs":"22723787.79","btc_to_uah":"274170.84","btc_to_ugx":"36733878.0","btc_to_uyu":"287692.7","btc_to_uzs":"82695253.3","btc_to_vef":"252122135.9","btc_to_vnd":"229366342.0","btc_to_vuv":"1067249.0","btc_to_wst":"25247.71","btc_to_xaf":"5375735.0","btc_to_xag":"609.0","btc_to_xau":"8.0","btc_to_xcd":"27271.27","btc_to_xdr":"6940.0","btc_to_xof":"5375735.0","btc_to_xpd":"10.0","btc_to_xpf":"977954.0","btc_to_xpt":"10.0","btc_to_yer":"2526266.83","btc_to_zar":"117152.39","btc_to_zmk":"53008467.21","btc_to_zmw":"99052.67","btc_to_jep":"7220.8","btc_to_ggp":"7220.8","btc_to_imp":"7220.8","btc_to_cnh":"63899.3","btc_to_eek":"147465.88","btc_to_mtl":"6899.56","btc_to_zwl":"3252865.07","btc_to_sgd":"13345.59","bch_to_aed":"4691.03","bch_to_afn":"88191.66","bch_to_all":"136842.34","bch_to_amd":"611895.33","bch_to_ang":"2271.98","bch_to_aoa":"271427.38","bch_to_ars":"25477.07","bch_to_aud":"1632.98","bch_to_awg":"2279.64","bch_to_azn":"2156.08","bch_to_bam":"2029.46","bch_to_bbd":"2554.22","bch_to_bdt":"106209.17","bch_to_bgn":"2028.9","bch_to_bhd":"481.435","bch_to_bif":"2241234.0","bch_to_bmd":"1277.11","bch_to_bnd":"1689.24","bch_to_bob":"8824.84","bch_to_brl":"4151.12","bch_to_bsd":"1277.11","bch_to_btn":"82754.38","bch_to_bwp":"12161.09","bch_to_byn":"2500.07","bch_to_byr":"25000744.0","bch_to_bzd":"2558.61","bch_to_cad":"1623.17","bch_to_cdf":"2060390.84","bch_to_chf":"1192.89","bch_to_clf":"28.7988","bch_to_clp":"756343.0","bch_to_cny":"8092.01","bch_to_cop":"3651576.77","bch_to_crc":"727044.22","bch_to_cuc":"1277.11","bch_to_cve":"114505.68","bch_to_czk":"26260.19","bch_to_djf":"226176.0","bch_to_dkk":"7723.87","bch_to_dop":"62782.73","bch_to_dzd":"145913.97","bch_to_egp":"22593.99","bch_to_ern":"19152.39","bch_to_etb":"34891.42","bch_to_fjd":"2585.83","bch_to_fkp":"913.87","bch_to_gbp":"913.87","bch_to_gel":"3148.3","bch_to_ghs":"5683.52","bch_to_gip":"913.87","bch_to_gmd":"60662.72","bch_to_gnf":"11487477.0","bch_to_gtq":"9375.06","bch_to_gyd":"264006.24","bch_to_hkd":"9990.77","bch_to_hnl":"30151.04","bch_to_hrk":"7713.36","bch_to_htg":"81879.42","bch_to_huf":"324630.0","bch_to_idr":"17429844.67","bch_to_ils":"4451.22","bch_to_inr":"82763.11","bch_to_iqd":"1519314.835","bch_to_isk":"128503.0","bch_to_jmd":"161326.64","bch_to_jod":"905.857","bch_to_jpy":"136438.0","bch_to_kes":"130067.27","bch_to_kgs":"86857.56","bch_to_khr":"5214865.83","bch_to_kmf":"510684.0","bch_to_krw":"1376150.0","bch_to_kwd":"382.878","bch_to_kyd":"1060.73","bch_to_kzt":"409007.25","bch_to_lak":"10548737.03","bch_to_lbp":"1932905.98","bch_to_lkr":"198194.7","bch_to_lrd":"165513.46","bch_to_lsl":"14893.74","bch_to_ltl":"4118.48","bch_to_lvl":"838.12","bch_to_lyd":"1695.947","bch_to_mad":"11760.4","bch_to_mdl":"21311.93","bch_to_mga":"4065809.4","bch_to_mkd":"63871.87","bch_to_mmk":"1705018.74","bch_to_mnt":"3059039.79","bch_to_mop":"10259.34","bch_to_mro":"454651.2","bch_to_mur":"41755.67","bch_to_mvr":"19744.13","bch_to_mwk":"926754.03","bch_to_mxn":"23744.7","bch_to_myr":"4999.84","bch_to_mzn":"77897.02","bch_to_nad":"14804.9","bch_to_ngn":"459240.96","bch_to_nio":"39948.0","bch_to_nok":"10050.58","bch_to_npr":"132425.5","bch_to_nzd":"1748.99","bch_to_omr":"491.713","bch_to_pab":"1277.11","bch_to_pen":"4146.86","bch_to_pgk":"4120.47","bch_to_php":"66053.41","bch_to_pkr":"141277.1","bch_to_pln":"4324.88","bch_to_pyg":"7107373.0","bch_to_qar":"4650.29","bch_to_ron":"4828.54","bch_to_rsd":"122392.75","bch_to_rub":"72021.21","bch_to_rwf":"1097776.0","bch_to_sar":"4790.25","bch_to_sbd":"9894.31","bch_to_scr":"17201.48","bch_to_sek":"10419.04","bch_to_shp":"913.87","bch_to_sll":"9814927.64","bch_to_sos":"736366.45","bch_to_srd":"9537.46","bch_to_ssp":"166360.69","bch_to_std":"25423404.45","bch_to_svc":"11137.91","bch_to_szl":"14885.19","bch_to_thb":"40193.63","bch_to_tjs":"11232.93","bch_to_tmt":"4482.63","bch_to_tnd":"3051.597","bch_to_top":"2819.14","bch_to_try":"4834.41","bch_to_ttd":"8624.0","bch_to_twd":"37390.27","bch_to_tzs":"2875924.01","bch_to_uah":"34699.08","bch_to_ugx":"4649042.0","bch_to_uyu":"36410.41","bch_to_uzs":"10465916.45","bch_to_vef":"31908593.35","bch_to_vnd":"29028619.0","bch_to_vuv":"135071.0","bch_to_wst":"3195.35","bch_to_xaf":"680353.0","bch_to_xag":"77.0","bch_to_xau":"1.0","bch_to_xcd":"3451.45","bch_to_xdr":"878.0","bch_to_xof":"680353.0","bch_to_xpd":"1.0","bch_to_xpf":"123770.0","bch_to_xpt":"1.0","bch_to_yer":"319724.49","bch_to_zar":"14826.81","bch_to_zmk":"6708754.94","bch_to_zmw":"12536.11","bch_to_jep":"913.87","bch_to_ggp":"913.87","bch_to_imp":"913.87","bch_to_cnh":"8087.1","bch_to_eek":"18663.29","bch_to_mtl":"873.21","bch_to_zwl":"411682.81","bch_to_sgd":"1689.02","eth_to_aed":"3140.7","eth_to_afn":"59045.34","eth_to_all":"91617.54","eth_to_amd":"409671.04","eth_to_ang":"1521.12","eth_to_aoa":"181723.79","eth_to_ars":"17057.19","eth_to_aud":"1093.3","eth_to_awg":"1526.24","eth_to_azn":"1443.52","eth_to_bam":"1358.74","eth_to_bbd":"1710.08","eth_to_bdt":"71108.27","eth_to_bgn":"1358.37","eth_to_bhd":"322.326","eth_to_bif":"1500532.0","eth_to_bmd":"855.04","eth_to_bnd":"1130.97","eth_to_bob":"5908.34","eth_to_brl":"2779.22","eth_to_bsd":"855.04","eth_to_btn":"55405.02","eth_to_bwp":"8141.99","eth_to_byn":"1673.83","eth_to_byr":"16738289.0","eth_to_bzd":"1713.02","eth_to_cad":"1086.73","eth_to_cdf":"1379455.63","eth_to_chf":"798.66","eth_to_clf":"19.2812","eth_to_clp":"506380.0","eth_to_cny":"5417.69","eth_to_cop":"2444773.12","eth_to_crc":"486764.56","eth_to_cuc":"855.04","eth_to_cve":"76662.89","eth_to_czk":"17581.5","eth_to_djf":"151428.0","eth_to_dkk":"5171.22","eth_to_dop":"42033.77","eth_to_dzd":"97691.1","eth_to_egp":"15126.94","eth_to_ern":"12822.75","eth_to_etb":"23360.21","eth_to_fjd":"1731.24","eth_to_fkp":"611.84","eth_to_gbp":"611.84","eth_to_gel":"2107.82","eth_to_ghs":"3805.18","eth_to_gip":"611.84","eth_to_gmd":"40614.4","eth_to_gnf":"7690999.0","eth_to_gtq":"6276.71","eth_to_gyd":"176755.25","eth_to_hkd":"6688.94","eth_to_hnl":"20186.47","eth_to_hrk":"5164.19","eth_to_htg":"54819.22","eth_to_huf":"217343.0","eth_to_idr":"11669483.75","eth_to_ils":"2980.14","eth_to_inr":"55410.87","eth_to_iqd":"1017198.954","eth_to_isk":"86034.0","eth_to_jmd":"108010.06","eth_to_jod":"606.482","eth_to_jpy":"91347.0","eth_to_kes":"87081.55","eth_to_kgs":"58152.15","eth_to_khr":"3491413.33","eth_to_kmf":"341909.0","eth_to_krw":"921348.0","eth_to_kwd":"256.341","eth_to_kyd":"710.17","eth_to_kzt":"273835.11","eth_to_lak":"7062502.14","eth_to_lbp":"1294103.04","eth_to_lkr":"132693.66","eth_to_lrd":"110813.18","eth_to_lsl":"9971.53","eth_to_ltl":"2757.37","eth_to_lvl":"561.13","eth_to_lyd":"1135.456","eth_to_mad":"7873.72","eth_to_mdl":"14268.59","eth_to_mga":"2722106.8","eth_to_mkd":"42762.96","eth_to_mmk":"1141529.88","eth_to_mnt":"2048062.72","eth_to_mop":"6868.75","eth_to_mro":"304394.2","eth_to_mur":"27955.91","eth_to_mvr":"13218.93","eth_to_mwk":"620472.6","eth_to_mxn":"15897.36","eth_to_myr":"3347.45","eth_to_mzn":"52152.96","eth_to_nad":"9912.05","eth_to_ngn":"307467.17","eth_to_nio":"26745.65","eth_to_nok":"6728.98","eth_to_npr":"88660.42","eth_to_nzd":"1170.97","eth_to_omr":"329.208","eth_to_pab":"855.04","eth_to_pen":"2776.37","eth_to_pgk":"2758.7","eth_to_php":"44223.52","eth_to_pkr":"94586.66","eth_to_pln":"2895.56","eth_to_pyg":"4758469.0","eth_to_qar":"3113.42","eth_to_ron":"3232.76","eth_to_rsd":"81943.37","eth_to_rub":"48219.04","eth_to_rwf":"734974.0","eth_to_sar":"3207.13","eth_to_sbd":"6624.36","eth_to_scr":"11516.59","eth_to_sek":"6975.67","eth_to_shp":"611.84","eth_to_sll":"6571208.22","eth_to_sos":"493005.91","eth_to_srd":"6385.44","eth_to_ssp":"111380.42","eth_to_std":"17021265.0","eth_to_svc":"7456.96","eth_to_szl":"9965.8","eth_to_thb":"26910.1","eth_to_tjs":"7520.58","eth_to_tmt":"3001.17","eth_to_tnd":"2043.08","eth_to_top":"1887.45","eth_to_try":"3236.69","eth_to_ttd":"5773.87","eth_to_twd":"25033.22","eth_to_tzs":"1925464.58","eth_to_uah":"23231.44","eth_to_ugx":"3112588.0","eth_to_uyu":"24377.19","eth_to_uzs":"7007052.8","eth_to_vef":"21363174.4","eth_to_vnd":"19434998.0","eth_to_vuv":"90432.0","eth_to_wst":"2139.33","eth_to_xaf":"455504.0","eth_to_xag":"52.0","eth_to_xau":"1.0","eth_to_xcd":"2310.79","eth_to_xdr":"588.0","eth_to_xof":"455504.0","eth_to_xpd":"1.0","eth_to_xpf":"82865.0","eth_to_xpt":"1.0","eth_to_yer":"214059.26","eth_to_zar":"9926.72","eth_to_zmk":"4491589.47","eth_to_zmw":"8393.07","eth_to_jep":"611.84","eth_to_ggp":"611.84","eth_to_imp":"611.84","eth_to_cnh":"5414.41","eth_to_eek":"12495.29","eth_to_mtl":"584.62","eth_to_zwl":"275626.43","eth_to_sgd":"1130.82","ltc_to_aed":"759.39","ltc_to_afn":"14276.57","ltc_to_all":"22152.19","ltc_to_amd":"99054.3","ltc_to_ang":"367.79","ltc_to_aoa":"43938.97","ltc_to_ars":"4124.26","ltc_to_aud":"264.35","ltc_to_awg":"369.03","ltc_to_azn":"349.03","ltc_to_bam":"328.53","ltc_to_bbd":"413.48","ltc_to_bdt":"17193.26","ltc_to_bgn":"328.44","ltc_to_bhd":"77.935","ltc_to_bif":"362813.0","ltc_to_bmd":"206.74","ltc_to_bnd":"273.46","ltc_to_bob":"1428.58","ltc_to_brl":"671.99","ltc_to_bsd":"206.74","ltc_to_btn":"13396.37","ltc_to_bwp":"1968.65","ltc_to_byn":"404.71","ltc_to_byr":"4047148.0","ltc_to_bzd":"414.19","ltc_to_cad":"262.76","ltc_to_cdf":"333538.38","ltc_to_chf":"193.11","ltc_to_clf":"4.662","ltc_to_clp":"122438.0","ltc_to_cny":"1309.94","ltc_to_cop":"591121.34","ltc_to_crc":"117694.73","ltc_to_cuc":"206.74","ltc_to_cve":"18536.31","ltc_to_czk":"4251.03","ltc_to_djf":"36614.0","ltc_to_dkk":"1250.35","ltc_to_dop":"10163.34","ltc_to_dzd":"23620.72","ltc_to_egp":"3657.54","ltc_to_ern":"3100.41","ltc_to_etb":"5648.26","ltc_to_fjd":"418.6","ltc_to_fkp":"147.94","ltc_to_gbp":"147.94","ltc_to_gel":"509.65","ltc_to_ghs":"920.06","ltc_to_gip":"147.94","ltc_to_gmd":"9820.15","ltc_to_gnf":"1859606.0","ltc_to_gtq":"1517.64","ltc_to_gyd":"42737.63","ltc_to_hkd":"1617.32","ltc_to_hnl":"4880.88","ltc_to_hrk":"1248.65","ltc_to_htg":"13254.73","ltc_to_huf":"52551.0","ltc_to_idr":"2821562.82","ltc_to_ils":"720.57","ltc_to_inr":"13397.79","ltc_to_iqd":"245948.39","ltc_to_isk":"20802.0","ltc_to_jmd":"26115.74","ltc_to_jod":"146.641","ltc_to_jpy":"22087.0","ltc_to_kes":"21055.44","ltc_to_kgs":"14060.6","ltc_to_khr":"844188.33","ltc_to_kmf":"82670.0","ltc_to_krw":"222773.0","ltc_to_kwd":"61.981","ltc_to_kyd":"171.71","ltc_to_kzt":"66210.55","ltc_to_lak":"1707641.39","ltc_to_lbp":"312900.99","ltc_to_lkr":"32083.98","ltc_to_lrd":"26793.5","ltc_to_lsl":"2411.02","ltc_to_ltl":"666.7","ltc_to_lvl":"135.68","ltc_to_lyd":"274.542","ltc_to_mad":"1903.79","ltc_to_mdl":"3450.0","ltc_to_mga":"658177.8","ltc_to_mkd":"10339.65","ltc_to_mmk":"276010.35","ltc_to_mnt":"495200.79","ltc_to_mop":"1660.79","ltc_to_mro":"73599.4","ltc_to_mur":"6759.45","ltc_to_mvr":"3196.2","ltc_to_mwk":"150023.98","ltc_to_mxn":"3843.82","ltc_to_myr":"809.38","ltc_to_mzn":"12610.06","ltc_to_nad":"2396.63","ltc_to_ngn":"74342.44","ltc_to_nio":"6466.83","ltc_to_nok":"1627.0","ltc_to_npr":"21437.19","ltc_to_nzd":"283.13","ltc_to_omr":"79.599","ltc_to_pab":"206.74","ltc_to_pen":"671.3","ltc_to_pgk":"667.03","ltc_to_php":"10692.8","ltc_to_pkr":"22870.1","ltc_to_pln":"700.12","ltc_to_pyg":"1150549.0","ltc_to_qar":"752.79","ltc_to_ron":"781.65","ltc_to_rsd":"19813.08","ltc_to_rub":"11658.87","ltc_to_rwf":"177709.0","ltc_to_sar":"775.45","ltc_to_sbd":"1601.7","ltc_to_scr":"2784.59","ltc_to_sek":"1686.65","ltc_to_shp":"147.94","ltc_to_sll":"1588851.5","ltc_to_sos":"119203.83","ltc_to_srd":"1543.93","ltc_to_ssp":"26930.66","ltc_to_std":"4115569.24","ltc_to_svc":"1803.02","ltc_to_szl":"2409.63","ltc_to_thb":"6506.59","ltc_to_tjs":"1818.4","ltc_to_tmt":"725.65","ltc_to_tnd":"493.996","ltc_to_top":"456.37","ltc_to_try":"782.6","ltc_to_ttd":"1396.06","ltc_to_twd":"6052.78","ltc_to_tzs":"465557.81","ltc_to_uah":"5617.13","ltc_to_ugx":"752592.0","ltc_to_uyu":"5894.16","ltc_to_uzs":"1694234.3","ltc_to_vef":"5165398.9","ltc_to_vnd":"4699185.0","ltc_to_vuv":"21865.0","ltc_to_wst":"517.27","ltc_to_xaf":"110136.0","ltc_to_xag":"12.0","ltc_to_xau":"0.0","ltc_to_xcd":"558.73","ltc_to_xdr":"142.0","ltc_to_xof":"110136.0","ltc_to_xpd":"0.0","ltc_to_xpf":"20036.0","ltc_to_xpt":"0.0","ltc_to_yer":"51757.36","ltc_to_zar":"2400.18","ltc_to_zmk":"1086020.78","ltc_to_zmw":"2029.36","ltc_to_jep":"147.94","ltc_to_ggp":"147.94","ltc_to_imp":"147.94","ltc_to_cnh":"1309.15","ltc_to_eek":"3021.23","ltc_to_mtl":"141.36","ltc_to_zwl":"66643.67","ltc_to_sgd":"273.42"}

'
  recorded_at: Fri, 23 Feb 2018 10:34:00 GMT
recorded_with: VCR 4.0.0
