---
http_interactions:
- request:
    method: get
    uri: https://test-insight.bitpay.com/api/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10781'
      Etag:
      - W/"127-nAh/RsP2Hh0F11ljUa1aCw"
    body:
      encoding: ASCII-8BIT
      string: '{"info":{"version":120100,"protocolversion":70012,"blocks":1284564,"timeoffset":0,"connections":124,"proxy":"","difficulty":1549169.053332807,"testnet":true,"relayfee":0.00001,"errors":"Warning:
        Unknown block versions being mined! It''s possible unknown rules are in effect","network":"testnet"}}'
  recorded_at: Fri, 23 Feb 2018 10:32:46 GMT
- request:
    method: get
    uri: https://www.okcoin.com/api/ticker.do?ok=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"date":"1519381969","ticker":{"high":"10974.02","vol":"174.747","last":"10801.20","low":"10310.0","buy":"10801.24","sell":"10865.52","change":"+76.16","changeRate":"+0.71%"}}'
  recorded_at: Fri, 23 Feb 2018 10:32:49 GMT
recorded_with: VCR 4.0.0
