---
http_interactions:
- request:
    method: get
    uri: https://test-insight.bitpay.com/api/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10781'
      Etag:
      - W/"127-nAh/RsP2Hh0F11ljUa1aCw"
    body:
      encoding: ASCII-8BIT
      string: '{"info":{"version":120100,"protocolversion":70012,"blocks":1284564,"timeoffset":0,"connections":124,"proxy":"","difficulty":1549169.053332807,"testnet":true,"relayfee":0.00001,"errors":"Warning:
        Unknown block versions being mined! It''s possible unknown rules are in effect","network":"testnet"}}'
  recorded_at: Fri, 23 Feb 2018 10:32:44 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6192b-c7-565deae423a85"'
      Last-Modified:
      - Fri, 23 Feb 2018 10:32:44 GMT
      X-Iinfo:
      - 13-4562642-4546302 2NNN RT(1519381964172 409) q(0 0 0 0) r(2 2)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "10330.49000000", "last": "10140.01", "timestamp": "1519381963",
        "bid": "10142.77", "vwap": "9924.51", "volume": "18910.76308101", "low": "9600.00000000",
        "ask": "10150.00", "open": 9843.33}'
  recorded_at: Fri, 23 Feb 2018 10:32:45 GMT
recorded_with: VCR 4.0.0
