---
http_interactions:
- request:
    method: get
    uri: https://test-insight.bitpay.com/api/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10783'
      Etag:
      - W/"127-nAh/RsP2Hh0F11ljUa1aCw"
    body:
      encoding: ASCII-8BIT
      string: '{"info":{"version":120100,"protocolversion":70012,"blocks":1284564,"timeoffset":0,"connections":124,"proxy":"","difficulty":1549169.053332807,"testnet":true,"relayfee":0.00001,"errors":"Warning:
        Unknown block versions being mined! It''s possible unknown rules are in effect","network":"testnet"}}'
  recorded_at: Fri, 23 Feb 2018 10:31:25 GMT
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=xbtusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XXBTZUSD":{"a":["10146.00000","1","1.000"],"b":["10144.90000","4","4.000"],"c":["10143.70000","0.02295083"],"v":["5358.94043749","14021.23410411"],"p":["9830.57345","9905.16218"],"t":[17520,44875],"l":["9550.90000","9550.90000"],"h":["10215.00000","10343.00000"],"o":"9840.20000"}}}'
  recorded_at: Fri, 23 Feb 2018 10:31:26 GMT
- request:
    method: get
    uri: http://api.fixer.io/latest?base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 22 Feb 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"USD","date":"2018-02-22","rates":{"AUD":1.2788,"BGN":1.5932,"BRL":3.2705,"CAD":1.2699,"CHF":0.93744,"CNY":6.3608,"CZK":20.622,"DKK":6.0657,"EUR":0.8146,"GBP":0.71964,"HKD":7.8249,"HRK":6.0643,"HUF":254.72,"IDR":13711.0,"ILS":3.4975,"INR":65.078,"ISK":100.93,"JPY":107.1,"KRW":1084.5,"MXN":18.795,"MYR":3.9192,"NOK":7.8929,"NZD":1.3653,"PHP":52.062,"PLN":3.4066,"RON":3.7924,"RUB":56.755,"SEK":8.143,"SGD":1.3223,"THB":31.575,"TRY":3.7999,"ZAR":11.717}}'
  recorded_at: Fri, 23 Feb 2018 10:31:27 GMT
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=xbtusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XXBTZUSD":{"a":["10146.00000","1","1.000"],"b":["10144.90000","4","4.000"],"c":["10143.70000","0.02295083"],"v":["5358.94043749","14021.23410411"],"p":["9830.57345","9905.16218"],"t":[17520,44875],"l":["9550.90000","9550.90000"],"h":["10215.00000","10343.00000"],"o":"9840.20000"}}}'
  recorded_at: Fri, 23 Feb 2018 10:31:27 GMT
recorded_with: VCR 4.0.0
