---
http_interactions:
- request:
    method: get
    uri: https://test-insight.bitpay.com/api/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10799'
      Etag:
      - W/"105-68zh1++wKk/GdYZPytGncQ"
    body:
      encoding: ASCII-8BIT
      string: '{"info":{"version":120100,"protocolversion":70012,"blocks":1000000,"timeoffset":0,"connections":121,"proxy":"","difficulty":304101.5177101588,"testnet":true,"relayfee":0.00001,"errors":"Warning:
        unknown new rules activated (versionbit 28)","network":"testnet"}}'
  recorded_at: Sun, 11 Feb 2018 08:41:16 GMT
recorded_with: VCR 4.0.0
